<div class="form-row" [formGroup]="form">
    <div class="form-group col-12 " >
        <label for="input{{pregunta.idPregunta}}">{{ pregunta.descripcionPregunta }}<img src="assets/img/icon-help.svg" class="icon-help ml-1" width="15px" alt="botón ayuda" matTooltip="{{pregunta.tooltip}}"></label>
        
        <div class="row">          
            <div class="col-sm-10">
              <div class="form-check pb-2 pl-4" *ngFor="let itemRadio of pregunta?.opcionesRespuesta">
                <input 
                  id="input-radio-{{pregunta.idPregunta}}" 
                  [formControlName]="pregunta?.formName"
                  [ngClass]="form.controls[pregunta.formName].invalid && (form.controls[pregunta.formName].dirty || form.controls[pregunta.formName].touched) ? 'is-invalid': ''"
                  class="form-check-input" 
                  type="radio" [value]="itemRadio?.idRsRespuesta">
                <label class="form-check-label" for="input-radio-{{pregunta.idPregunta}}">
                 {{itemRadio?.descripcionRespuesta}}
                </label>
                
              </div>             
            </div>
          </div>
           <small id="inputHelpBlock{{pregunta.idPregunta}}" class="form-text text-muted">
            {{pregunta?.help}}
          </small>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback">
              <div *ngIf="form.controls[pregunta.formName].errors?.required">
                  Campo requerido
              </div>  
          </div>  
    </div>
</div>




