<div class="form-row" [formGroup]="form">
  <div class="form-group col-6" *ngIf="pregunta">
      <label for="input{{pregunta.idPregunta}}">{{pregunta.descripcionPregunta}}
        <img src="assets/img/icon-help.svg" 
          class="icon-help ml-1" width="15px" 
          alt="botón ayuda" matTooltip="{{pregunta.tooltip}}">
      </label>
      {{pregunta?.mensajePatron}}
      <div>
      <input
        id="input{{pregunta.idPregunta}}" 
        [ngClass]="form.controls[pregunta.formName].invalid && (form.controls[pregunta.formName].dirty || form.controls[pregunta.formName].touched) ? 'is-invalid': ''"
        type="text" 
        name="input{{pregunta.idPregunta}}" 
        [formControlName]="pregunta.formName"
        class="form-control"
        [style]="pregunta.width"
        [placeholder]="">{{pregunta.signo}}
      <small id="inputHelpBlock{{pregunta.idPregunta}}" class="form-text text-muted">
        {{pregunta?.help}}
      </small>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">
        <div *ngIf="form.controls[pregunta.formName].errors?.required">
          El campo "{{pregunta?.descripcionPregunta}}" es obligatorio
         </div>
       <div *ngIf="form.controls[pregunta.formName].errors?.pattern">
        {{pregunta?.mensajePatron}}

       </div>
       <div *ngIf="form.controls[pregunta.formName].errors?.maxlength">
        El campo "{{pregunta?.descripcionPregunta}}" excede la cantidad máxima de caracteres
       </div>
       <div *ngIf="form.controls[pregunta.formName].errors?.minlength">
        El campo "{{pregunta?.descripcionPregunta}}" es inferior a la cantidad mínima de caracteres
       </div>  
      </div>
  </div>
</div>